@model VDABMovies.Models.AfrekenenViewModel
@{
    ViewBag.Title = "Afrekenen";
}

<h2>Afrekenen</h2>

<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.Winkelmandje.Lijnen)
        {
            <tr>
                <td>@l.Film.Titel</td>
                <td>@Html.DisplayFor(m => l.Film.Prijs)</td>
            </tr>
        }
    </tbody>
</table>

<h4>wordt gefactureerd aan:</h4>

<p>@Html.DisplayFor(m => m.Klant.Naam) @Html.DisplayFor(m => m.Klant.Voornaam)</p>
@Html.DisplayFor(m => m.Klant.Straat_Nr)<br/>
@Html.DisplayFor(m => m.Klant.PostCode) @Html.DisplayFor(m => m.Klant.Gemeente)
