@model VDABMovies.Models.MandjeViewModel
@{
    ViewBag.Title = "WinkelMandje";
}

<h2>WinkelMandje</h2>

<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>Prijs</th>
            <th>Verwijderen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.WinkelMandje.Lijnen) { 
            <tr>
                <td>@l.Film.Titel</td>
                <td>@Html.DisplayFor(m=>l.Film.Prijs)</td>
                <td align="right">@Html.ActionLink("Verwijderen", "FilmVerwijderenUitMandje", "Winkel", new { Id = l.Film.Id },null)</td>
                
            </tr>
        }
    </tbody>
</table>
<p>@Html.ActionLink("Verder Winkelen", "GetGenres", "Genre")</p>
<p>@Html.ActionLink("Afrekenen", "Afrekenen", "Winkel")</p>

