@model VDABMovies.ViewModels.GetFilmsVanGenreViewModel

@{
    ViewBag.Title = "GetFilmsVanGenre";
    
}

<h2>@Model.GekozenGenre.Naam</h2>

<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>Prijs</th>
            <th>In Voorraad</th>
            <th>Huren</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var f in Model.Films) { 
        <tr>
            <td class="filmTitel">@f.Titel</td>
            <td>@Html.DisplayFor(m=>f.Prijs)</td>
            <td align="center">@f.InVoorraad</td>
            <td>@if (!f.InMandje){
                    @Html.ActionLink("Huren", "Huren", "Film", new { Id = f.Id }, null);
                }
            </td>
        </tr>
    }
    </tbody>
</table>